@charset "ISO-8859-1";

body{
	background-image:
                  url("../img/cibertec.jpg");
     background-size:cover;
     background-position: center;
}
h1,td,tr{
	font-family: Sans-Serif;
	font-size: 15px;
	font-weight:bold;
	color:white;
}
